<div class="grid-block grid-block-{$asset}" 

     {if $_SURFTOEDIT_}
       data-id="{$id}" 
       data-content-order="{$content_order}" 
       data-asset="{$asset}"
       data-asset-id="{$asset_id}"
       data-asset-headline="{$asset_headline}"
     {/if}

     data-col-xs="{$col_xs}"
     data-col-sm="{$col_sm}"
     data-col-md="{$col_md}"
     data-col-lg="{$col_lg}"

     data-row-xs="{$row_xs}" 
     data-row-sm="{$row_sm}" 
     data-row-md="{$row_md}" 
     data-row-lg="{$row_lg}" 

     data-offset-col-xs="{$offset_col_xs}"
     data-offset-col-sm="{$offset_col_sm}"
     data-offset-col-md="{$offset_col_md}"
     data-offset-col-lg="{$offset_col_lg}"

     data-offset-row-xs="{$offset_row_xs}" 
     data-offset-row-sm="{$offset_row_sm}" 
     data-offset-row-md="{$offset_row_md}" 
     data-offset-row-lg="{$offset_row_lg}" 

     data-pull-xs="{$pull_xs}" 
     data-pull-sm="{$pull_sm}" 
     data-pull-md="{$pull_md}" 
     data-pull-lg="{$pull_lg}"

     data-gutter-xs="{$gutter_xs}" 
     data-gutter-sm="{$gutter_sm}" 
     data-gutter-md="{$gutter_md}" 
     data-gutter-lg="{$gutter_lg}" 
>

