  {php}if (IN_SURFTOEDIT):{/php}
  <div class="grid-block-dimensions">
    <div class="grid-block-dimensions-xs visible-xs">
      <span class="grid-block-col"></span>
      <span class="grid-block-x">x</span>
      <span class="grid-block-row"></span>
    </div>
    <div class="grid-block-dimensions-sm visible-sm">
      <span class="grid-block-col"></span>
      <span class="grid-block-x">x</span>
      <span class="grid-block-row"></span>
    </div>
    <div class="grid-block-dimensions-md visible-md">
      <span class="grid-block-col"></span>
      <span class="grid-block-x">x</span>
      <span class="grid-block-row"></span>
    </div>
    <div class="grid-block-dimensions-lg visible-lg">
      <span class="grid-block-col"></span>
      <span class="grid-block-x">x</span>
      <span class="grid-block-row"></span>
    </div>
  </div>
  {php}endif;{/php}

</div>

