<div class="audit-trail-record">
  <div class="audit-trail-action">
    {$action_taken}
  </div>
  {if $asset}
    <div class="audit-trail-asset">
      <strong>{$asset_name}:</strong>
      {if $asset.cms_deleted}
        {$asset._headline} (deleted)
      {else}
        {link_to href="controller:`$asset_type`;action:show;id:`$asset.id`;" text=$asset._headline rel="blank"}
      {/if}
    </div>
  {/if}
  {if $page}
    <div class="audit-trail-page">
      Page:
      {if $page.cms_deleted == 0}
        {link_to href="controller:page;action:surftoedit;id:`$page.id`;" text=$page.title rel="blank"}
      {else}
        {$page.title} (deleted)
      {/if}
    </div>
  {/if}
  {if $workflow_group}
    <div class="audit-trail-workflow-group">
      Workflow Group: {$workflow_group.workflow_title}
    </div>
  {/if}
  <div class="audit-trail-userinfo">
    {$user.real_name} @ {$created|date_format:'%I:%M:%S %p on %F'} from the IP address: {$ip}
  </div>
</div>
