/*
  nterchange - nonfiction studios inc.
*/

div.list {
  margin-top: 0.5em;
}

div.list ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

div.list ul li {
  padding: 0 0 0 4px;
  margin: 0;
  clear: both;
}

div.list ul li.odditem {
  background-color: #FFF;
}

div.list ul li.evenitem {
  background-color: #f0f0f0;
}

div.list ul li div.edit_links_for_item {
  width: 320px;
  float: right;
  text-align: right;
  display: inline;
  padding-right: 4px;
}

div.list ul li div.content_for_item {
  display: inline;
}

div.list ul li.odditem:hover,
div.list ul li.evenitem:hover {
  background-color: #f9f9f9;
}

#assetlist ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#assetlist ul li {
  border-bottom: 1px #EEE solid;
  padding: 9px 2px;
}

#assetlist ul li:last-child {
  border: none;
}

div.list ul.siteAdminList {
  list-style: none;
  border-left: 1px solid #eee;
  margin-left: 16px;
}

div.list > ul.siteAdminList {
  margin-left: 0;
}

div.list ul.siteAdminList li.odditem,
div.list ul.siteAdminList li.evenitem {
  background-color: transparent;
  border-bottom: 1px solid #fafafa;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.list ul.siteAdminList li.odditem:hover,
div.list ul.siteAdminList li.evenitem:hover {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

div.list ul.pageList li,
div.list ul.pageContentList li {
  margin-bottom: 2px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#navigation {
  font-size: 11px;
  line-height: 11px;
  color: #000;
  padding: 0 20px;
  margin-top: -25px;
}

#container:after,
#navigation:after {
  content: '';
  display: table;
  width: 100%;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  display: inline;
  list-style-type: none;
}

#navigation ul li a,
#navigation ul li a:link,
#navigation ul li a:visited,
#navigation ul li a:hover {
  text-decoration: none;
  color: #333;
}

#navigation ul li a {
  min-width: 75px;
  margin: -2px 0px 0px 1px;
  padding: 7px 3px;
  border: 1px solid #d0d0d0;
  border-width: 1px 0;
  position: relative;
  top: 0;
  z-index: 1;
  display: block;
  float: left;
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#navigation ul li a:link,
#navigation ul li a:visited {
  background-color: #d0d0d0;
}

#navigation ul li a:hover,
#navigation ul li a:active {
  background-color: #dedede;
}

#navigation ul li a.right {
  float: right;
}

#navigation ul li a.current {
  border-top-color: #F37722;
  border-bottom-color: #e5e5e5;
  background-color: #e5e5e5;
  z-index: 3;
  top: 0px;
}

#navigation ul li a.current:visited,
#navigation ul li a.current:hover,
#navigation ul li a.current:active {
  background-color: #e5e5e5;
}

#subnav ul {
  height: 21px;
  margin: 0;
  padding: 0;
}

#subnav ul li {
  display: inline;
  list-style-type: none;
}

#subnav ul li a,
#subnav ul li a:link,
#subnav ul li a:visited,
#subnav ul li a:hover {
  text-decoration: none;
  color: #333;
}

#subnav ul li a {
  width: 70px;
  margin: 1px 1px 0px 0px;
  padding: 5px 0px 4px 0px;
  border: 0;
  position: relative;
  top: 0;
  z-index: 1;
  display: block;
  float: left;
  font-size: 11px;
  line-height: 11px;
  font-family: "Helvetica Neue", sans-serif;
  color: #444;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#subnav ul li a:link,
#subnav ul li a:visited {
  background-color: #d4d4d4;
}

#subnav ul li a:hover,
#subnav ul li a:active {
  background-color: #dedede;
}

#subnav ul li a.right {
  float: right;
}

#subnav ul li a.current {
  background-color: #e5e5e5;
}

#subnav ul li a.current:visited,
#subnav ul li a.current:hover,
#subnav ul li a.current:active {
  background-color: #e5e5e5;
}

.pane {
  border: 1px solid #D4D4D4;
  padding: 8px;
}

.btn,
a.btn {
  background-color: #E72;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 4px 6px;
  border: 1px solid #ddd;
  margin-right: 2px;
}

.btn-sm {
  font-size: 9.5px;
}

.btn i {
  font-style: normal;
  font-size: 1.3em;
  line-height: 10px;
}

.btn-toolbar {
  margin-bottom: 10px;
}
