/*
-------------------------------------------------
nterchange - nonfiction studios inc.
$Id:
-------------------------------------------------
*/
body {
	font: 62.5%/1.4em "Lucida Grande","Lucida Sans Unicode",Verdana,Geneva,sans-serif;
}

p {
	padding:0;
	margin:0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: normal;
	padding: 0 5px 0 0;
}

h1 {
	font-size: 2.1em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

#sidebarbox h1 {
	font-size:1.8em;
}

.highlight {
	background-color:#FFC;
}

abbr {
	color:#E72;
	border-bottom:1px dashed #E72;
}