/*
	nterchange - nonfiction studios inc.
*/

body {
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 15px;
  color: #444;
}

p {
  padding: 0;
  margin: 0 0 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  padding: 0 5px 0 0;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.15em;
  margin-bottom: 5px;
}

b,
strong {
  font-weight: 500;
}

.highlight {
  background-color: #FFC;
}

abbr {
  color: #E72;
  border-bottom: 1px dashed #E72;
}

