
<a class="btn btn-sm" href="{url_for action='create' referer=1 parent_id=$parent_id}">
  <i>+</i> New Page
</a>

{if is_array($pages) && count($pages) > 1}
  <a class="btn btn-sm" href="#" id="reorder_list_{$parent_id}_link" onclick="page.reorder.toggle({$parent_id}); return false;">
    <i>&#x2630;</i> Re-order
  </a>
{/if}
{if is_array($pages) && count($pages)}
  <div class="list">
  <ul id="page_list_{$parent_id}" class="pageList">
  {foreach from=$pages item=page name=pages}
  <li id="page_{$page.id}" class="{if $smarty.foreach.pages.iteration%2 == 1}even{else}odd{/if}item">
   <div id="content_for_{$page.id}" class="content_for_item">
   <img src="/nterchange/images/drag.gif" alt="Drag" class="dragger_{$parent_id} dragger" id="drag_{$page.id}" width="25" height="11" style="display: none" />
   {if $page.active == 0}{$page.title|string_format:'[%s]'}{elseif $page.visible == 0}{$page.title|string_format:'(%s)'}{else}{$page.title}{/if}
   </div>
  </li>
  {/foreach}
  </ul>
  </div>
{/if}


