<div class="container">
  <a class="surftoedit-logo" href="/nterchange"><span class="surftoedit-white"><span class="surftoedit-reverse">n</span>ter</span>change</a>
  <a href="/nterchange/page/create?_referer=%2Fnterchange%2Fpage%2Fsurftoedit%2F{$id}" title="New Page">New Page</a>
  <a href="/nterchange/page/edit/{$id}?_referer=%2Fnterchange%2Fpage%2Fsurftoedit%2F{$id}" title="Edit Page">Edit Page</a>
  <a href="/nterchange/site_admin/clear_all_cache?_referer=%2Fnterchange%2Fpage%2Fsurftoedit%2F{$id}" title="Clear All Cache">Clear Cache</a>
  <a href="/nterchange/page/preview/{$id}">View Page</a>
</div>
