<div class="control">
<a href="{url_for action=create}" class="control">New {$asset_name}</a>
</div>

<div id="assetlist">
<ul>
{foreach from=$rows item=row}
<li id="{$asset}_{$row.id}">{$row._headline} &nbsp; &nbsp; 
{link_to href="controller:`$asset`;action:edit;id:`$row.id`;" text="Edit" class="control"}
{if !isset($row._remove_delete) || !$row._remove_delete}
{link_to href="controller:`$asset`;action:delete;id:`$row.id`;" text="Delete" class="control" confirm="Are you sure?"}
{/if}
{link_to href="controller:page_template_containers;action:viewlist;id:`$row.id`;" text="Containers" class="control"}
 - {$row.template_filename}.html {check_template filename=$row.template_filename}
{/foreach}
</ul>
</div>